<link rel='shortcut icon' href='./client/img/abstergo-industries-logo.png' />
<link href="./client/style/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="./client/style/messenger.css" rel="stylesheet" media="screen">
<link href="./client/style/messenger-theme-future.css" rel="stylesheet" media="screen">
<style>
div.popover { width:216px; }
div.popover a { display:block; padding:3px; cursor:pointer; }
div.popover a.active { background:#08c; color:#fff; }
div.popover div#divider { color:#999; padding:3px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:11px; font-weight:bold; text-transform:uppercase; margin-top:9px; }
</style>
<script src="./socket.io/socket.io.js"></script>
<script src="./client/script/jquery-1.9.0.min.js"></script>
<script src="./client/script/jquery-ui-1.10.0.min.js"></script>
<script src="./client/script/ejs_production.js"></script>
<script src="./client/script/bootstrap.min.js"></script>
<script src="./client/script/messenger.min.js"></script>
<script src="./client/script/messenger-theme-future.js"></script>
<script src="./client/script/async.min.js"></script>
<script src="./client/script/filesaver.js"></script>