
div.span4, div.span2, div.span8 { background_:rgba(240,240,240,0.3); }

/* Bootstrap Original value is way too large. */
.alert { margin-bottom:10px; }

/* Minimum height is required to allow dragging to div. */
div#layout-base-left, div#layout-base-right { min-height:100px; }

/* Bootstap's default input field side is too large for the span2 sidebar being used. */
div#widget-user-sidebox input { width:126px; }
div#widget-user-sidebox input[type="submit"] { width:140px; }

table.account td:first-child { width:84px; padding-top:12px; text-align:right; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:11px; font-weight:bold; text-transform:uppercase; }
table.account input, table.account textarea { width:170px; max-width:170px; }
table.account input.btn, table.account select { width:184px; }

table.info td:first-child { width:84px; text-align:right; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:11px; font-weight:bold; text-transform:uppercase; }

div.tooltip-inner { line-height:15px; max-width:250px; }

div#layout-base-mid legend { padding-left:10px; width:610px; }
div#layout-base-mid th { border-top: 0px; }

/* Popover Suggestions */
div.popover { width:180px; }
div.popover a { display:block; padding:3px; cursor:pointer; }
div.popover a.active { background:#08c; color:#fff; }
div.popover div#divider { color:#999; padding:3px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:11px; font-weight:bold; text-transform:uppercase; margin-top:9px; }

/* Paginated Tables */
div.paginate table { width:100%; }
div.paginate table th:first-child, div.paginate table td:first-child { text-align: right; width:100px; padding-right: 20px; }
div.paginate div.pagination a { cursor:pointer; }

div.well a { cursor: pointer; padding-top:0px; }

table.sets th { border-bottom: 1px solid #ddd; }